<a href="https://colab.research.google.com/github/ptrzky/Machine-Learning/blob/main/H071201078_Putri_Rezky_Ameilya_B_Tugas_MLipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tugas 1 Machine Learning<br>
Nama  : Putri Rezky Ameilya B. <br>
Nimi : H071201078

## Mendownload dataset menggunakan Api Kaggle (no 1)

###  <br> 1. Silahkan download sebuah dataset menggunakan API KAGGLE

In [97]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.6.15)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [98]:
import os

In [99]:
os.environ['KAGGLE_USERNAME'] = "putriameilya"
os.environ['KAGGLE_KEY'] = "e9ecba8dbdc37ab001600df4418f3853"

In [100]:
!kaggle datasets list -s Iris

ref                                                        title                                              size  lastUpdated          downloadCount  voteCount  usabilityRating
---------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
uciml/iris                                                 Iris Species                                        4KB  2016-09-27 07:38:05         311349       3067  0.7941176
arshid/iris-flower-dataset                                 Iris Flower Dataset                               1010B  2018-03-22 15:18:06          65239        498  0.8235294
vikrishnan/iris-dataset                                    Iris Dataset                                       999B  2017-08-03 16:00:44           4914         36  0.7647059
chuckyin/iris-datasets                                     Iris datasets                                       1KB  2017-03-10 09:35:43           2297         18  0.7352941
parulpandey/palmer-archipelago-antarctica-penguin-data     Palmer Archipelago (Antarctica) penguin data       11KB  2020-06-09 10:14:54          28224        239  0.9705882
therohk/ireland-historical-news                            Irish Times - Waxy-Wany News                       52MB  2021-09-25 10:52:48           3090        160  1.0
rtatman/iris-dataset-json-version                          Iris Dataset (JSON Version)                         1KB  2018-04-06 20:21:31           8675         55  0.75
jillanisofttech/iris-dataset-uci                           Iris dataset uci                                    1KB  2021-11-06 15:11:47            231         22  1.0
himanshunakrani/iris-dataset                               iris dataset                                      1006B  2022-07-20 18:50:06            213         20  1.0
fleanend/birds-songs-numeric-dataset                       Birds' Songs Numeric Dataset                       25MB  2019-04-01 09:09:46           1119         29  0.9411765
conorrot/irish-weather-hourly-data                         Irish Weather (hourly data)                        67MB  2020-06-29 20:15:18           2258         43  0.8235294
saurabh00007/iriscsv                                       Iris.csv                                            1KB  2017-11-09 07:34:35          31298         75  0.4117647
jeffheaton/iris-computer-vision                            Iris Computer Vision                                5MB  2020-11-24 21:23:29            612         15  0.875
kamrankausar/iris-data                                     iris_data                                           1KB  2017-11-30 10:26:01           1305         18  0.64705884
arslanali4343/iris-species                                 Iris Species                                        2KB  2020-07-02 06:09:09            104         14  0.5625
styven/iris-dataset                                        Iris dataset                                        1KB  2017-11-04 14:10:12            879          8  0.29411766
ashkhagan/palmer-penguins-datasetalternative-iris-dataset  Palmer Penguins Dataset-Alternative Iris Dataset    3KB  2020-06-30 06:30:43            625         13  0.8235294
naureenmohammad/mmu-iris-dataset                           MMU iris dataset                                   30MB  2020-07-25 18:38:33           1464         33  0.5625
shantanuss/iris-flower-dataset                             IRIS flower dataset                                 1KB  2020-01-18 19:43:18            452          4  0.9411765
olgabelitskaya/flower-color-images                         Flower Color Images                                50MB  2020-10-01 22:48:07          10660        179  0.75

In [101]:
!kaggle datasets download uciml/iris --unzip

Downloading iris.zip to /content/drive/MyDrive/Machine Leaning
  0% 0.00/3.60k [00:00<?, ?B/s]
100% 3.60k/3.60k [00:00<00:00, 1.02MB/s]

## Penggunaan Library Pandas dan Numpy (No 2 dan 3)

###<br> 2. Lakukan import library pandas dan import library numpy

In [102]:
#import library pandas
import pandas as pd

#import library numpy
import numpy as np

In [103]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###<br> 3. Panggil file (load dataset) dengan format .csv untuk dataset mengenai bunga Iris yang sudah peserta unduh dari Kaggle, dan akan disimpan di dalam dataframe df. Lalu tampilkan 5 baris awal dataset dengan function head()

In [104]:
df=pd.read_csv('/content/Iris.csv')
df.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Telaah data (no 4-12)

###<br>4. Tampilkan tipe data dari kolom yang ada pada dataset

In [105]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

###<br>5. Apakah tipe Data dari kolom berikut ini: (silakan diisi pada cell di bawah ini)

In [106]:
# pada kolom 'id' memiliki tipe data 'int64'
# pada kolom 'sepal dan petal' memiliki tipe data 'float64'
# pada kolom 'species' memiliki tipe data 'object'

###<br> 6. Hitunglah ukuran (jumlah baris dan kolom) dari dataset. Dengan menggunakan method function

In [107]:
df.shape

(150, 6)

###<br>7. Berapakah jumlah baris, dan jumlah kolom pada dataset? (silakan diisi pada cell di bawah ini)

In [108]:
# Baris pada dataset = 150
# Kolom pada dataset = 6

###<br>8. Tampilkan data yang hanya berisi kolom "Id" dan kolom "Species" dalam bentuk dataframe.

In [109]:
df[['Id', 'Species']].head(5)

   Id      Species
0   1  Iris-setosa
1   2  Iris-setosa
2   3  Iris-setosa
3   4  Iris-setosa
4   5  Iris-setosa

###<br>9. Tampilkan data dengan dataframe, dan data yang ditampilkan adalah data pada baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)

In [110]:
df.loc[:9]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

###<br>10. Tampilkan data hanya kolom "Id" dan kolom "Species" dengan dataframe, dan yang ditampilkan adalah data pada baris dengan indeks 11 (sebelas) sampai dengan indeks 15 (limabelas)

In [111]:
df[['Id', 'Species']][11:15]

    Id      Species
11  12  Iris-setosa
12  13  Iris-setosa
13  14  Iris-setosa
14  15  Iris-setosa

###<br> 11. Pada DataFrame dapat menampilkan beberapa baris pertama/terakhir dari dataset yang di load. Gunakan Method head() dan tail().Latihan: Tampilkan data pada 8 (delapan) baris pertama dari dataset, dengan dataframe.

In [112]:
df.head(8)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa

In [113]:
df.tail(8)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

###<br>12. Tampilkan data pada 3 (tiga) baris terakhir dari dataset, dengan dataframe.

In [114]:
df.tail(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

##Statistik Data (No 13-21)

###<br>13. Hitung korelasi dari dataset. Dengan menggunakan method function

In [115]:
df.corr()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,0.716676,-0.397729,0.882747,0.899759
SepalLengthCm,0.716676,1.000000,-0.109369,0.871754,0.817954
SepalWidthCm,-0.397729,-0.109369,1.000000,-0.420516,-0.356544
PetalLengthCm,0.882747,0.871754,-0.420516,1.000000,0.962757
PetalWidthCm,0.899759,0.817954,-0.356544,0.962757,1.000000

###<br> 14. Berdasarkan pada perhitungan korelasi di no (11), apakah yang dapat anda simpulkan sementara? Silakan tuliskan simpulan sementara anda pada cell di bawah ini.

In [116]:
#pada no11 menggunakan Method head() dan tail() digunakan membuat object series baru yang berupa potongan dari data series
#seperti pada no11, meminta menampilkan 8 baris pertama (head) dan 8 baris terakhir (tail) dari dataset menggunakan dataframe

###<br> 15. Hitung korelasi untuk kolom berikut ini: PetalLengthCm, PetalWidthCm

In [117]:
df.loc[:,'PetalLengthCm':].corr()

               PetalLengthCm  PetalWidthCm
PetalLengthCm       1.000000      0.962757
PetalWidthCm        0.962757      1.000000

In [118]:
df.loc[:,'PetalWidthCm':].corr()

              PetalWidthCm
PetalWidthCm           1.0

###<br> 16. Method "describe" secara otomatis melakukan komputasi statistik untuk semua continous variable. Secara default "describe" melakukan ignore terhadap variabel bertype objek.

Komputasi statistik yang dilakukan terdiri dari: count, mean, std, min, max, 25%, 75%, max.

Latihan: Gunakan method describe pada dataset yang sudah di load untuk semua continous variabel. (Dataset Iris.csv)

In [119]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

###<br> 17. Gunakan method describe pada dataset yang sudah di load untuk data bertype objek. (Dataset Iris.csv)

In [120]:
df['Species'].describe()

count             150
unique              3
top       Iris-setosa
freq               50
Name: Species, dtype: object

###<br> 18.Gunakan method describe pada dataset yang sudah di load untuk semua type data (continous variabel dan type object).

In [121]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

###<br> 19. Hitunglah nilai mean dari dataset.

In [122]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

###<br>20. Hitung nilai mean dari dataset untuk kolom PetalLengthCm.

In [123]:
df['PetalLengthCm'].mean()

3.758666666666666

###<br> 21. Carilah nilai minimal dari dataset untuk kolom SepalWidthCm.

In [124]:
df['SepalWidthCm'].min()

2.0

##Method Groupby (No 22)

###<br> 22. Hitunglah nilai mean dari dataset untuk kolom SepalLengthCm per Species dengan menggunakan metode groupby.

In [125]:
SepalLengthCm  = df.groupby("SepalLengthCm").mean()
print(SepalLengthCm)

                       Id  SepalWidthCm  PetalLengthCm  PetalWidthCm
SepalLengthCm
4.3             14.000000      3.000000       1.100000      0.100000
4.4             30.333333      3.033333       1.333333      0.200000
4.5             42.000000      2.300000       1.300000      0.300000
4.6             20.500000      3.325000       1.325000      0.225000
4.7             16.500000      3.200000       1.450000      0.200000
4.8             25.400000      3.180000       1.580000      0.200000
4.9             41.666667      2.866667       2.283333      0.533333
5.0             39.200000      3.120000       1.840000      0.430000
5.1             35.111111      3.477778       1.722222      0.400000
5.2             37.500000      3.425000       2.075000      0.475000
5.3             49.000000      3.700000       1.500000      0.200000
5.4             28.666667      3.550000       2.033333      0.516667
5.5             67.000000      2.842857       3.228571      0.900000
5.6             84.666667      2.816667       4.200000      1.416667
5.7             72.250000      3.100000       3.587500      1.100000
5.8             88.428571      2.885714       4.071429      1.400000
5.9             94.333333      3.066667       4.700000      1.700000
6.0             95.166667      2.733333       4.650000      1.500000
6.1             94.166667      2.850000       4.750000      1.416667
6.2            110.750000      2.825000       4.750000      1.725000
6.3            107.222222      2.855556       5.133333      1.811111
6.4            107.857143      2.957143       5.157143      1.871429
6.5            107.200000      3.000000       5.240000      1.900000
6.6             67.500000      2.950000       4.500000      1.350000
6.7            112.125000      3.050000       5.262500      1.962500
6.8            111.333333      3.000000       5.400000      1.933333
6.9            114.000000      3.125000       5.275000      2.050000
7.0             51.000000      3.200000       4.700000      1.400000
7.1            103.000000      3.000000       5.900000      2.100000
7.2            122.000000      3.266667       5.966667      1.966667
7.3            108.000000      2.900000       6.300000      1.800000
7.4            131.000000      2.800000       6.100000      1.900000
7.6            106.000000      3.000000       6.600000      2.100000
7.7            124.000000      3.050000       6.600000      2.200000
7.9            132.000000      3.800000       6.400000      2.000000

##Method Value Count(No 23-25)

###<br> 23. Hitunglah frekuensi pada kolom 'Species' dengan menggunakan metode value_counts().

In [126]:
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

###<br> 24. Tampilkan perhitungan frekuensi pada kolom 'Species' dengan menggunakan metode value_counts() dalam bentuk dataframe.

In [127]:
df['Species'].value_counts().head(1)

Iris-setosa    50
Name: Species, dtype: int64

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

###<br> 25. Hitunglah frekuensi pada kolom 'PetalLenghCm' dengan menggunakan metode value_counts() dan dalam bentuk dataframe.

In [129]:
df['PetalLengthCm'].value_counts()

1.5    14
1.4    12
5.1     8
4.5     8
1.6     7
1.3     7
5.6     6
4.7     5
4.9     5
4.0     5
4.2     4
5.0     4
4.4     4
4.8     4
1.7     4
3.9     3
4.6     3
5.7     3
4.1     3
5.5     3
6.1     3
5.8     3
3.3     2
5.4     2
6.7     2
5.3     2
5.9     2
6.0     2
1.2     2
4.3     2
1.9     2
3.5     2
5.2     2
3.0     1
1.1     1
3.7     1
3.8     1
6.6     1
6.3     1
1.0     1
6.9     1
3.6     1
6.4     1
Name: PetalLengthCm, dtype: int64